/* General */
/* #92d14f */
/* #b6ed7b */
body {
  background-color: #ffa500;
  font-family: "News Cycle", sans-serif;
}

.container {
  display: inline-block;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.box {
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.box:hover {
  margin-bottom: -10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

li {
  list-style: none;
}

.flipper {
  height: 100px;
  width: 100px;
  background-color: #f2c879;
}

img {
  position: relative;
  width: 300px;
  border-radius: 50%;
}

.faceDown {
  height: 100px;
  width: 100px;
  background-color: red;
}

.faceUp {
  height: 100px;
  width: 100px;
  background-color: aqua;
}
