body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  background-color: orange;
}

img {
  position: relative;
  width: 300px;
  border-radius: 50%;
}

.faceDown {
  height: 100px;
  width: 100px;
  background-color: red;
}

.faceUp {
  height: 100px;
  width: 100px;
  background-color: aqua;
}
